.top__container {
  display: flex;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;

    justify-content: center;
  }

  button {
    margin: .5rem auto;
  }

  p {
    font-weight: 400;
    font-family: Inter, sans-serif;
    color: var(--black);
    margin: .5rem auto;

    max-width: 260px;

    strong {
      font-weight: 700;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
        text-align: center;
    }
  }

  img {
    width: 50%;
    height: auto;

    @media screen and (max-width: 768px) {
      width: 100%;
        
    }
  }
}
