:root {
  --white: #ffffff;
  --black: #000;
  --purple: #6F4090B0;
  --purple-light: #D5B4EC;
  --purple-dark: #6F4090;
  --yellow: #F5BA5A;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #FFF3DF;
  zoom: 125%;
}

body {
  color: var(--black);
  background: #FFF3DF;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
